*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;

}
body{
    background-color:none;

}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.btn{
    background: greenyellow;
    color: purple;
    padding:14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}